body,html{
    height : 100%;
    margin : 0px;
    padding:0px;
}
.booking{
    background-image: url("bg.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    color:white;
    margin:50px;
    text-align: center;
    
}
input[type="text"],[type="time"]{
    width:50%;
    margin:0 50px 1px 50px;
    
}
input:focus{
    border: 2px solid red;
    background-color: yellow;
}
div{
    display:block;
    justify-content: center;
    align-items: center;
    margin:50px 0 0 0;
    padding-left: 100px;

}
fieldset{
    color:white;
    padding:20px;
    margin-left: 150px;
    margin-right: 520px;
}
