body,html{
    height : 100%;
    margin : 0px 0 0 auto;
    padding:0px;
}
.regcont{
    background-image: url("bg.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    width:20%;
    color:rgb(11, 16, 15);
    border: 1px solid black;
    border-radius: 7px;
    margin: 20px;
    padding: auto;
}
input:active{
    border: 1px solid red;
    background-color: yellow;
}
input[type= "textarea"]{
    width:20%;
    border : 1px solid black;
    margin: 20px;
    padding:auto;
}
label{
    color:white;
    margin: 20px;

}
h1{
    color:white;
    text-align: center;
}
#reg{
    display: block;
    margin-left: 500px;
    border: 1px white;
}

