body,html{
    height : 100vh;
    margin : 0px;
    padding:0px;
}
.bg{
    background-image: url("back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    background-image: url("bg.jpeg");
    height: 90px;

    color:yellow;
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
    padding:0px;

}
.navbar{
   
    display: block;
    font-size: 1.5rem;
    background-color: yellow;
    text-align: right;
}
.bold{
    color:black;
}
a{
    color:black;
    margin-left: 3px;
    margin-right: 3px;
}
.search{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: grey;
    margin-top: 70px;
    margin-left: 400px;
    margin-right: 400px;
    background-image: url("images.png");
    
}
input[type="search"]{
    border-radius: 7px;
    background-color: bisque;
    margin: 10px;
    
}